<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="en" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:replace="/fragments/styling :: head-style"></div>
    <title>Branson's Blog Site</title>
</head>

<body>
<div class="container">
    <div th:replace="/fragments/navbar :: navbar"></div>
    <div class="row">
        <p>Use the form below to submit a blog post:</p>
        <form action="#" th:action="@{/blogposts}" th:object="${blogPost}" method="POST">
            <label for="blogTitle">Title:</label>
            <input type="text" name="blogTitle" th:field="*{title}" />

            <label for="blogAuthor">Author:</label>
            <input type="text" name="blogAuthor" th:field="*{author}" />

            <label for="blogEntry">Blog Entry:</label>
            <input type="text" name="blogEntry" th:field="*{blogEntry}" />

            <button class="btn btn-primary" type="submit">Submit Your Blog</button>
        </form>
    </div>
</div>

<div th:replace="/fragments/styling :: body-links"></div>

</body>
</html>